// В этом файле должны быть стили для БЭМ-блока brief-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.brief-box {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }

  &__col {
    @include col;
    @include col(lg, 6);
  }

  &__actions {
    max-width: 560px;
    margin: 60px auto 0 auto;
    border-top: 1px solid #4D32F4;
    padding: 90px 0 30px;
    .btn {
      width: 100%;
    }
  }

  p {
    color: #D4D4D4;
  }
}
