// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  padding: 90px 0;

  background-image: url(../img/ellipse-footer.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;

  .container {
    position: relative;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/noise.png);
    opacity: 0.25;
  }

  &__row  {
    @include row;
  }

  &__col {
    @include col();
    @include col(lg, 3);
  }

  &__line {
    height: 1px;
    width: 100%;
    background: linear-gradient(249.13deg, #4D32F4 0%, #FA00FF 98.09%);
    opacity: 0.55;
    margin: 27px 0;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    &.email-link {

      @media (min-width: $screen-lg) {
        text-align: right;
      }

      a {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        display: inline-block;
        margin-top: 10px;
        color: #4D32F4;

        &:hover {
          text-decoration: none;
        }
      }

      margin-bottom: 45px;
    }
  }

  &__links {
    list-style: none;
    padding: 0;

    li {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 11px;
    }
    a {
      color:#71717A;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}
