// В этом файле должны быть стили для БЭМ-блока tab-group, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tab-group {

  $block-name:                &; // #{$block-name}__element

  &--brief {
    #{$block-name}__tab-ul {

      margin-bottom: 40px;

      @media (min-width: $screen-lg) {
        margin-bottom: 110px;
      }
    }
    #{$block-name}__tab-li {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 10px;

      @media (max-width: $screen-md) {
        border-right: none;
        border-bottom: 1px solid #4D32F4;

        .tab-group__tab-btn:after {
          border-radius: 10px 10px 0 0;
        }
      }

      @media (min-width: $screen-md) {
        flex: 0 0 33.333%;
        max-width: 33.333%;
      }
    }

    #{$block-name}__tabpanel {
      background: rgba(44, 32, 120, 0.5);
      backdrop-filter: blur(5px);
      border-radius: 20px;
    }

    #{$block-name}__tab-content {
      padding: 56px;

      @media (max-width: $screen-md) {
        padding: 35px 15px;
      }
    }
  }
}

.tab-group {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.tab-group__tab-ul {
  list-style: none;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  // height: 3rem;

  @media (max-width: $screen-lg) {
    flex-wrap: wrap;
  }
}

.tab-group__tab-li {
  flex: 0 0 25%;
  max-width: 25%;
  margin: 0;

  &:first-child {
    .tab-group__tab-btn:after {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  &:last-child {
    .tab-group__tab-btn:after {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &:not(:last-child) {
    border-right: 1px solid #4D32F4;
  }

  @media (max-width: $screen-lg) {
    flex: 0 0 50%;
    max-width: 50%;border: 1px solid;
    border: none;

    &:nth-child(1) {
      border-bottom: 1px solid #4D32F4;
    }
    &:nth-child(2) {
      border-right: 0;
      border-bottom: 1px solid #4D32F4;
    }
  }
}

.tab-group__tab-btn {
  background-color: transparent;
  border: none;
  color: #71717A;
  font-size: 0.9rem;
  margin: 0;
  padding: 3rem 1rem;
  height: 100%;
  min-width: 5rem;
  width: 100%;
  cursor: pointer;
  position: relative;

  &:after {
    content: "";
    background: rgba(44, 32, 120, 0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.tab-group__tab-icon {
  margin-bottom: 17px;
  position: relative;
  z-index: 1;
  svg {
    fill: #71717A;
  }
}
.tab-group__tab-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  z-index: 1;
}
.tab-group__tab-btn:focus, .tab-group__tab-btn:hover {
  // color: #202020;
}
.tab-group__tab-btn:focus {
  outline: none;
}

.tab-group__tabpanel {
}

.tab-group__tab-content {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 20px;
}

.tab-group__tab-content-action {
  text-align: center;
  margin-top: 70px;
}

.tab-group__tab-li_fill {
  flex: 1 1 auto;
}

.tab-group__tab-btn_selected {
  position: relative;

  &:before {
    content: "";
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    position: absolute;
    width: 80%;
    height: 11px;
    background: linear-gradient(249.13deg, #4D32F4 0%, #FA00FF 98.09%);
    border-radius: 20px;
  }
  color: #fff;

  .tab-group__tab-icon {
    svg {
      fill: #fff;
    }
  }
}
.tab-group__tab-btn_selected:focus, .tab-group__tab-btn_selected:hover {
  color: #fff;
}

